/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
}

h1, h2 {
  color: #333;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}
